:root {
    --inputFieldNumbers: 2;
}

body {
	padding: 16px;
}

* {
	margin: 0;
	padding: 0;
}

#inputContainer {
	border: #000000 1px solid;
	resize: vertical;
    overflow: hidden;

    display: flex;
    
    gap: 0;
}

.inputField {
    border: none;
    border-right: #000000 1px solid;
    border-radius: 0;
	text-decoration: none;
	padding: 8px;
	resize: none;
    height: 100%;
	width: calc(100% / var(--inputFieldNumbers));
	overflow: hidden;
}
