:root {
    --inputFieldNumbers: 2;
}

body {
	padding: 16px;
	display: flex;
	justify-content: center;
	gap: 16px;
}

* {
	margin: 0;
	padding: 0;
}

#left, #right {
	width: 100%
}

#inputContainer {
	border: #000000 1px solid;
	resize: vertical;
    overflow: hidden;
    display: flex;
    gap: 0;
}

.inputField {
    border: none;
    border-right: #000000 1px solid;
    border-radius: 0;
	text-decoration: none;
	padding: 8px;
	resize: none;
    height: 100%;
	width: calc(100% / var(--inputFieldNumbers));
	overflow: hidden;
}

#classroom {
	border: #000000 1px solid;
    box-sizing: border-box;
	width: 100%;
	border-radius: 16px;
}

#teacher {
	margin: 8px;
	margin-bottom: 0;
	height: 64px;
    box-sizing: border-box;
	border: #000000 1px solid;
	border-radius: 8px;
	text-align: center;
}

#result {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 8px;
	margin: 8px;
	/* grid-auto-flow: column; */
	/* grid-template-columns: repeat(auto-fit, 64px); */
}

.seat {
	border: #000000 1px solid;
    box-sizing: border-box;
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}